/*Base Type Selectors*/

body {

	background-color: thistle;
}

.page-wrapper {
  background-color: indianred;
  margin: 7%;
}

/*heading styles*/

.intro h1 {
	background-color: sienna;
	color: white;
	font-size: 2em;
	font-weight: lighter;
	padding: .5em;
	display: inline-block;
	margin-left: 3%;
}


/*Layout Designs*/

/*Modules - Specific Qualities to replicate*/

/*State*/


/*Themes*/