/*Base Type Selectors*/

body {

	background-color: thistle;
}

.page-wrapper {
  background-color: indianred;
  margin: 7%;
}

 a {
	text-decoration: none;
	color: white;
	border-bottom: 1px solid rosybrown;
}


/*heading styles*/

.intro h1 {
	background-color: sienna;
	color: white;
	font-size: 2em;
	font-weight: lighter;
	
}

.intro h2 {
  color: white;
  font-size: 5em;
  font-weight: bolder;
}

.summary {
	color: white;
}



/*Article Styling*/

.preamble {
	background-color: white;
	color: black;
	font-weight: lighter;
}

.explanation,
.participation {
	color: white;
	font-weight: lighter;
}

.participation {
	background-color: sienna;
}

.benefits,
.requirements {
	background-color: white;
	color: black;

}

.benefits a,
.requirements a {
	color: black;
}

/*Footer Stylings*/

footer {
	background-color: tan;
}

/*Sidebar Stylings*/

.sidebar {
	background-color: tan;
	color: white;
}

.sidebar li {
	list-style: none;
}

/*Layout Designs*/

.page-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.main {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	order: 1;
	flex-grow: 1;
}

.intro {
	order: -2;
	flex-grow: 1;
	width: 50%;

}

.sidebar {
	order: -1;
	flex-grow: 1;
	width: 20%;
}





/*heading layout*/
section.intro {
	width: 50%;
}

.intro h1 {
  padding: .5em;
  display: inline-block;
  margin-left: 3%;
}

.intro h2 {
	padding-left: 4%;
}

.summary {
	padding-left: 4%;
}

.summary p:last-child {
	border-top: 1px solid sienna;
	padding-top: 1em;
}

/*Article Layouts*/
.preamble,
.explanation,
.participation,
.benefits,
.requirements
 {
	padding: 4%;
}
.explanation,
.participation {
	width: 40%;
}


/*Footer Layouts*/

footer {
	padding: 2%;
}


/*Sidebar Layouts*/
.sidebar {
	padding: 4%;
}
/*Modules - Specific Qualities to replicate*/

/*State*/


/*Themes*/